* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color:#212C65;
  }
  .todo {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 50px;
    text-align: end;
    margin: 0 100px 0 0;
    }
  
    .home {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      padding: 10px 50px 20px;
      text-align: end;
      margin:10%;
      }
  
  .producto {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 50px;
  text-align: end;
  margin: top;
  }
  
  .contacto {
  list-style: none;
  display: flex;
   justify-content: flex-end;
  padding: 50px;
  text-align: end;
  margin: top;
  }
  
  nav {
    padding: 50px;
    background-color:#01A1DD;
    position: sticky;
    top: 20px;
  }
  
  h1 {
    font-size: x-large;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }
  
  .header {
    width: 100%;
    justify-content: flex-start;
    margin: 0cm;
  }
  
  body {
    background-color: #b4d4f3;
  }
  /* NAVEGACIÓN */
  .nav {
    position: relative;
    /* background: url(https://cdn.pixabay.com/photo/2020/04/17/14/07/athlete-5055367_960_720.jpg); */
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .imgBanner{
    width: 100%;
    height: auto;
  }
  .nav-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-header .logo {
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.5em;
  }
  .nav-header .nav-ul {
    position: relative;
    display: flex;
  }
  .nav-header .nav-ul li {
    list-style: none;
  }
  .nav-header .nav-ul li a {
    display: inline-block;
    color: #fff;
    margin-right: 40px;
    text-decoration: none;
  }
  .nav-header .nav-ul li a:hover {
    color: #03a9f4;
  }
  
  @media (max-width: 991px) {
    .nav-header {
      padding: 15px 40px;
    }
    .nav {
      /* background: url(https://cdn.pixabay.com/photo/2020/04/17/14/07/athlete-5055367_960_720.jpg); */
      background-size: cover;
      background-position: center;
    }
    .content .contentBx h2 {
      font-size: 2.5em;
    }
    .content .contentBx p {
      font-size: 1em;
    }
    .nav-header .nav-ul {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #444;
      z-index: 10;
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .nav-header .nav-ul.active {
      display: flex;
    }
    .nav-header .nav-ul li a {
      font-size: 24px;
      margin: 10px 0;
    }
    .toggle {
      position: relative;
      width: 30px;
      height: 30px;
      /*background-image: url(/images/abrir-nav.png);*/
      background-position: center;
      background-size: 30px;
      background-repeat: no-repeat;
      cursor: pointer;
      z-index: 11;
    }
    .toggle.active {
      /*background-image: url(/images/cerrar-nav.png);*/
      background-position: center;
      background-size: 25px;
      background-repeat: no-repeat;
      position: fixed;
    }
  }
  
  /*  Saludo dependiendo de la hora  */
  #welcome-section {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  
  #welcome-section::after {
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
  }
  
  #welcome-section * {
    position: relative;
    z-index: 1;
  }
  
  #welcome-section h1 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
  }
  .grow {
    font-size: 15px;
    background-color: #333333;
    border-radius: 10px;
    color: #ffffff;
    padding: 12px 30px;
    text-decoration: none;
    margin: 20px 0px;
    cursor: pointer;
  }
  
  .grow { transition: all .2s ease-in-out; }
  .grow:hover { transform: scale(1.1); }
  
  /* animacion de saludo*/
  .text-typing {
      font-size:30px;
      padding:10px 10px;
  }
  .text-typing p {
    color:#000;
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 4s steps(22,end) forwards,
    blink 1s infinite;
  }
  @keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #222;
    }
  }
  
  /*   Boton para subir hasta arriba   */
  .ir-arriba {
      background:#024959;
      color:#fff;
      display:block;
      cursor:pointer;
      position: fixed;
      font-size:20px;
      padding: 10px 15px;
    border-radius: 50%;
      bottom:20px;
      right:20px;
  }